require "bundler/capistrano"
require 'thinking_sphinx/deploy/capistrano'

default_run_options[:pty] = true 

set :application, "Foresters Collection"

set :scm, :git
set :repository,  "git@github.com:bricestacey/foresters.git"
set :user, "deployer"

#set :deploy_via, :remote_cache
set :deploy_to, "/var/www/foresters"

role :web, "example.com"                           # Your HTTP server, Apache/etc
role :app, "example.com"                           # This may be the same as your `Web` server
role :db,  "example.com", :primary => true         # This is where Rails migrations will run

# If you are using Passenger mod_rails uncomment this:
namespace :deploy do
  task :start do ; end
  task :stop do ; end
  task :restart, :roles => :app, :except => { :no_release => true } do
    run "#{try_sudo} touch #{File.join(current_path,'tmp','restart.txt')}"
  end

  namespace :foresters do
    task :setup do
      authentication_file = File.open('config/authentication.yml').read
      sphinx_file = File.open('config/sphinx.yml').read

      run "mkdir -p #{shared_path}/config"
      put authentication_file, "#{shared_path}/config/authentication.yml"
      put sphinx_file, "#{shared_path}/config/sphinx.yml"
    end

    task :symlink do
      run "ln -nfs #{shared_path}/config/authentication.yml #{release_path}/config/authentication.yml"
      run "ln -nfs #{shared_path}/config/sphinx.yml #{release_path}/config/sphinx.yml"
    end
  end

  namespace :db do

    desc <<-DESC
      Creates database.yml in shared path.

      Fails if either of the files do not yet exist.

      When this recipe is loaded, db:setup is automatically configured \
      to be invoked after deploy:setup. You can skip this task setting \
      the variable :skip_db_setup to true.
    DESC
    task :setup, except: { no_release: true } do
      raise unless File.exists?('config/database.yml')

      db_file = File.open('config/database.yml').read

      run "mkdir -p #{shared_path}/config"
      put db_file, "#{shared_path}/config/database.yml"
    end

    desc <<-DESC
      [internal] Updates the symlink for database.yml file to the just deployed \
      release
    DESC
    task :symlink, except: { no_release: true } do
      run "ln -nfs #{shared_path}/config/database.yml #{release_path}/config/database.yml"
    end
  end
end

after "deploy:setup", "deploy:db:setup"
after "deploy:setup", "deploy:foresters:setup"
after "deploy:finalize_update", "deploy:db:symlink"
after "deploy:finalize_update", "deploy:foresters:symlink"
before "deploy:restart", "thinking_sphinx:rebuild"
